@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
    <body class="text-center">
        <div data-bs-spy="scroll">
            <p> <img class="home-image" src="https://assets.vogue.com/photos/6058ad15d118d15dd2254d7c/master/w_1350,h_1688,c_limit/Photo%20Dec%2021,%201%2029%2026%20PM.jpg" alt= "Editorial Makeup"> </p>
        </div>

    </body>
</html>
