@{
    ViewData["Title"] = "Brows Page";
}

<!DOCTYPE html>
<html>

    <body>
        <div id="mySidebar" class="sidebar">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="#">Gel</a>
            <a href="#">Pencil</a>
            <a href="#">Pen</a>
            <a href="#">Pomade</a>
        </div>

        <div id="main">
            <h2>
                <button class="openbtn" onclick="openNav()">&#9829;Brows</button>
            </h2>
            <div>
                <img src="" alt="Silver Editorial Makeup">
            </div>
            <p>Content...</p>
        </div>
    </body>
</html>

