@{
    ViewData["Title"] = "Eyes Page";
}

<!DOCTYPE html>
<html>
    <body>
        <div id="mySidebarEyes" class="sidebar">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="#">Concealer</a>
            <a href="#">Eyeliner</a>
            <a href="#">Eyeshadow</a>
            <a href="#">Mascara</a>
        </div>
        <div id="main">
            <h2>
                <button class="openbtn" onclick="openNav()">&#9829;Eyes</button>
            </h2>
            <div>
                <img src="GiveMeFace/Images/eye_image.jpg" alt="Silver Editorial Makeup">                                       
            </div>
            <p>Content...</p>
        </div>
    </body>
</html>

