@{
    ViewData["Title"] = "Face Page";
}

<!DOCTYPE html>
<html>
<body>
    <div id="mySidebar" class="sidebar">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="#">Blush</a>
        <a href="#">Bronzer</a>
        <a href="#">Contour</a>
        <a href="#">Foundation</a>
    </div>
    <div id="main">
        <h2>
            <button class="openbtn" onclick="openNav()">&#9829;Face</button> 
        </h2>
        <div>
            <img src="" alt="Silver Editorial Makeup">
        </div>
        <p>
        Content...
        </p>
    </div>

</body>
</html>

