@{
    ViewData["Title"] = "Lips Page";
}

<!DOCTYPE html>
<html>
<body>
    <div id="mySidebar" class="sidebar">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="#">Lipgloss</a>
        <a href="#">Lip pencil</a>
        <a href="#">Lip stick</a>
        <a href="#">Lip tints</a>
        <a href="#">Lip oils</a>
    </div>
    <div id="main">
        <h2>
            <button class="openbtn" onclick="openNav()">&#9829; Lips</button>
        </h2>
        <div>
            <img src="" alt="Silver Editorial Makeup">
        </div>
        <p>Content...</p>
    </div>
</body>
</html>


